.edit-profile-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #353438; /* Light background color */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.edit-profile-container h1{
  color: white;
}

h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  color: white;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc; /* Light gray border */
}

.auth-button {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #4CAF50; /* Green background color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-button:hover {
  background-color: #45a049; /* Slightly darker green on hover */
}
