.login-link {
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 15px;
    display: inline-block; /* Ensures links are treated as block elements for consistent spacing */
    text-align: center;
}

.register-link {
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 10px 30px; 
    margin: 20px 0px;
    border-radius: 15px;
    display: inline-block; /* Ensures links are treated as block elements for consistent spacing */
    text-align: center;
}

.not-logged-in-links {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centers items horizontally */
    justify-content: center; /* Centers items vertically within the container */
    margin: 20px ;
}