.user-result {
    display: flex;
    flex-direction: column; /* Stack the items vertically */
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #333333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-picture-container {
    margin-bottom: 10px; /* Space between the profile picture and the user info */
}

.profile-picture {
    width: 100px; /* Adjusted width */
    height: 100px; /* Adjusted height */
    border-radius: 50%;
    object-fit: cover;
}

.user-info {
    display: flex;
    flex-direction: column; /* Stack the information vertically */
    align-items: center; /* Center the information */
}

.username {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
}

.stats {
    display: flex;
    flex-direction: column; /* Stack the stats vertically */
    font-size: 14px;
    color: #555;
    align-items: center; /* Center align each stat */
    margin-top: 1px; /* Space between username and stats */
}

.stats p {
    margin: 5px 0; /* Space between each stat */
}


/* Profile link styling */
.profile-link {
    text-decoration: none; /* Remove underline */
    color: #D5FFD9; /* Set the text color for the link */
    font-weight: bold; /* Make the username bold */
    transition: color 0.3s ease; /* Smooth color transition on hover */
  }
  
  /* Profile link hover state */
  .profile-link:hover {
    color: #A7FFBA; /* Darker color when hovered */
  }
  